html, body {
   height: 100%;
   margin: 0;
   padding: 0;
}

h1 {
   position: absolute;
   margin-top: 5px;
   z-index: 3;
}

#location-div {
    height: 200px;
    width: 350px;
}

#iw-address {
   color: white;
   width: fit-content;
   text-shadow: 2px 2px 2px #000000;
   /*font-size: 25px;*/
   font-weight: bolder;
   padding: 5px;
}

#iw-address span {
   background-color: #bebebe;
   opacity: 0.8;
}

#iw-remarks {
   color: white;
   width: fit-content;
   text-shadow: 2px 2px 2px #000000;
   /*font-size: 20px;*/
   font-weight: bolder;
   padding-left: 5px;
   padding-right: 5px;
}

#iw-remarks span {
   background-color: #bebebe;
   opacity: 0.8;
}

.map-container {
   position: relative;
   top: 0;
   height: 100%;
}

.gm-style-iw {
   width: 350px !important;
   height: 200px;
   top: 15px !important;
   left: 0 !important;
   background-color: #fff;
   box-shadow: 0 1px 6px rgba(178,178,178,0.6);
   border: 1px solid rgba(72,181,233,0.6);
   border-radius: 3px 3px 3px 3px;
}

#panel {
   height: 80%;
   margin-top: 115px;;
   float: left;
   width: 250px;
   max-width: 250px;
   display: none;
   color: black;
   overflow: auto;
   left: 0;
   position: absolute;
   z-index: 5;
}

#floating-panel {
   margin: auto;
   width: 95%;
}

#panel-title {
   background-color: white;
   opacity: 0.9;
   width: fit-content;
   margin: auto;
   border: 1px solid grey;
   border-radius: 5px;
   padding: 3px;
}

#panel-year {
   background-color: white;
   opacity: 0.9;
   width: fit-content;
   border: 1px solid grey;
   border-radius: 5px;
   margin-top: 5px;
   padding: 3px;
}

#panel-overview {
   background-color: white;
   opacity: 0.9;
   font-size: 1em;
   line-height: 100%;
   width: fit-content;
   border: 1px solid grey;
   border-radius: 5px;
   margin: auto;
   margin-top: 5px;
   padding: 3px;
}

#search-options {
   position: absolute;
   margin-top: 65px;
   z-index: 3;
}

#search-term {

}

#poster {
   margin: auto;
   width: 100%;
   margin-bottom: 10px;
   border: 1px solid grey;
   border-radius: 5px;
}

.map-canvas-container {
   overflow:hidden;
   width: 100%;
   height:100%;
   resize: none;
   max-width:100%;
}

#gmap3 {
   padding: 0;
   position: absolute !important;
   background: grey;
   top: 0px;
   right: 0;
   bottom: 0 !important;
   left: 0 !important;
   height: 100%;
   max-width: none;
   margin: 0;
   float: left;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 30px;
  height: 60px;
}
::-webkit-scrollbar-thumb {
  background: #a6a6a6;
  border: 0px dotted #ffffff;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a2a29f;
}
::-webkit-scrollbar-thumb:active {
  background: #6b6b6b;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
   background: transparent;
}
::-webkit-scrollbar-track:active {
   background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
