html, body {
   height: 100%;
   margin: 0;
   padding: 0;
}

h1 {
   position: absolute;
   margin-top: 5px;
   margin-left: 5px;
   z-index: 3;
}

.map-container {
   position: relative;
   top: 0;
   height: 100%;
}

.gm-style-iw {
    width: 200px;
    top: 0;
    left: 0;
    border-radius: 5px 5px 5px 5px;;
}

#panel {
   height: 80%;
   padding-top: 40px;
   /*background: #e2e2e2;
   opacity: 0.9;*/
   float: left;
   width: 250px;
   max-width: 250px;
   display: none;
   color: black;
   overflow: auto;
   left: 0;
   position: absolute;
   z-index: 1;
}

#floating-panel {
   margin: auto;
   width: 95%;
}

#panel-title {
   background-color: white;
   opacity: 0.9;
   width: fit-content;
   margin: auto;
   border: 1px solid grey;
   border-radius: 5px;
   padding: 3px;
}

#panel-year {
   background-color: white;
   opacity: 0.9;
   width: fit-content;
   border: 1px solid grey;
   border-radius: 5px;
   /*margin: auto;*/
   margin-top: 5px;
   padding: 3px;
}

#panel-overview {
   background-color: white;
   opacity: 0.9;
   font-size: 1em;
   line-height: 100%;
   width: fit-content;
   border: 1px solid grey;
   border-radius: 5px;
   margin: auto;
   margin-top: 5px;
   padding: 3px;
}

#search-container {
   display: block;
}
#search-options {
   position: absolute;
   /*margin-left: 10px;*/
   /*padding-top: 50px;*/
   /*height: auto;*/
   z-index: 3;
}

/*#search-term {

}*/

#poster {
   margin: auto;
   width: 100%;
   margin-bottom: 10px;
   border: 1px solid grey;
   border-radius: 5px;
}


/*#click {
   height: auto;
   width: auto;
   background: grey;
   float: left;
   margin-top: 0px;
   z-index: 1;
   display: block;
   position: absolute;
   left: 0;
   opacity: 0.9;
}*/

.map-canvas-container {
   overflow:hidden;
   width: 100%;
   height:100%;
   resize: none;
   max-width:100%;
}

#gmap3 {
   padding: 0;
   position: absolute !important;
   background: grey;
   top: 0px;
   right: 0;
   bottom: 0 !important;
   left: 0 !important;
   height: 100%;
   max-width: none;
   margin: 0;
   float: left;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 30px;
  height: 60px;
}
::-webkit-scrollbar-thumb {
  background: #a6a6a6;
  border: 0px dotted #ffffff;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a2a29f;
}
::-webkit-scrollbar-thumb:active {
  background: #6b6b6b;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
   background: transparent;
}
::-webkit-scrollbar-track:active {
   background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/*#front-page {
margin: 0 auto;
}*/
