html, body {
   height: 100%;
   margin: 0;
   padding: 0;
}

.map-container {
   position: relative;
   top: 0;
   height: 100%;
}

#panel {
   height: 100%;
   /*background: #e2e2e2;
   opacity: 0.9;*/
   float: left;
   width: 250px;
   max-width: 250px;
   display: none;
   color: black;
   overflow: auto;
   left: 0;
   position: absolute;
   z-index: 1;
}

#floating-panel {
   margin: auto;
   width: 95%;
}

#panel-title {
   background-color: white;
   opacity: 0.9;
   width: fit-content;
   margin: auto;
   border: 1px solid grey;
   border-radius: 5px;
   padding: 3px;
}

#panel-year {
   background-color: white;
   opacity: 0.9;
   width: fit-content;
   border: 1px solid grey;
   border-radius: 5px;
   /*margin: auto;*/
   margin-top: 5px;
   padding: 3px;
}

#panel-overview {
   background-color: white;
   opacity: 0.9;
   width: fit-content;
   border: 1px solid grey;
   border-radius: 5px;
   margin: auto;
   margin-top: 5px;
   padding: 3px;
}

#search-options {
   padding-top: 50px;
   height: auto;
   margin: auto;
}

#poster {
   margin: auto;
   width: 100%;
   margin-bottom: 10px;
   border: 1px solid grey;
   border-radius: 5px;
}


#click {
   height: auto;
   width: auto;
   /*background: grey;*/
   float: left;
   margin-top: 0px;
   z-index: 1;
   display: block;
   position: absolute;
   left: 0;
   opacity: 0.9;
}

.map-canvas-container {
   overflow:hidden;
   width: 100%;
   height:100%;
   resize: none;
   max-width:100%;
}

#gmap3 {
   padding: 0;
   position: absolute !important;
   background: grey;
   top: 0px;
   right: 0;
   bottom: 0 !important;
   left: 0 !important;
   height: 100%;
   max-width: none;
   margin: 0;
   float: left;
}

/*#front-page {
margin: 0 auto;
}*/
